*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/** HEADER **/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: block;
}
h1 {
	font-family: 'Lora', serif;
	color: green;
	font-size: 60px;
	font-weight: bold;
	padding-top: 0px;
	text-align: left;
	padding-left: 34px;
}

.container{
	width: 100%;
	height: 70px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

h2{
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

/* grid layout */
.box-wrapper {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
 
}

.box {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px 20px;
  background-color:grey;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

/* responsive for tablet */

@media(max-width: 720px ) and (min-width: 480px) {
  .box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* to make the 3rd box full width */
  .box:nth-child(3) {
    grid-column: 1 / 3;
  }
}

/* responsive for phone */

@media(max-width: 480px) {
  .box-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

.text-center {
  width: 100%;
  text-align: center;
}
h4 {
	text-align: center;
}


/*#nav-list {
	margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone {
  margin-top: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}*/

